/* 覆盖mint-ui的primary颜色，改为自己UI的主题色 */  
$bg-primary: rgba(242, 242, 242, 1);  
$color-primary: #666;  
$font-color-primary: #fff;  
$white: #fff; 
$opcity: rgba(0, 0, 0, 0);
$label-color: #333;
$ml: 20px;
$mm: 16px; 
$ms: 8px;
$font-large: 20px;
$font-model: 16px;
$font-small: 12px;
$font-btn: 13px;